html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

button {
  border: none;
  background: none; 
  padding: 0;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

/* widget stuff */
.widget {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 100px;
  z-index: 5;
}

#clockWidget {
    width: 300px;
    height: 50px;
}

#clock {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-variant-numeric: tabular-nums;
  color: white;
  font-family: "Aldrich", sans-serif;
}



.digit {
    display: inline-block;
    width: 0.75em;
    text-align: center;
}

.colon {
    display: inline-block;
    width: 0.4em;
    text-align: center;
}

/* resizing */
.resize-handle {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  border-radius: 4px;
}

.wide-adjust {
    width: 30px;
    height: 15px;
    position: absolute;
    right: 0;
    bottom: 50%;
    cursor: ew-resize;
    border-radius: 4px;
}

/* hide cursors when editMode is off */
body:not(.edit-mode) .resize-handle,
body:not(.edit-mode) .wide-adjust {
    cursor: default;
}

.edit-mode .widget {
  outline: 2px dashed white;
  cursor: move;
}



/* edit button and settings */

#editToggle, #settings {
  position: fixed;
  cursor: pointer;
  top: 20px;
  right: 20px;
  z-index: 10;
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 400;
  font-family: "Aldrich", sans-serif;
}

#editToggle:hover, #settings:hover {
    font-weight: 700;
}

#settings {
    top: 50px;
}

body:is(.edit-mode) #editToggle {
    font-weight: 700;
}

/* modal items */

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    color: white;
    font-family: "Aldrich", sans-serif;
}

.modal-content {
    position: absolute;
    right: 0px;
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgba(80, 80, 80, 0.6);
    backdrop-filter: blur(10px);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.modalItem {
    display: block;
    position: relative;
    margin-bottom: 20px;
}

/* setting items */

#closeSettings {
    position: absolute;
    top: 0px;
    right: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    font-size: 40px;
    background: transparent;
    font-family: "Aldrich", sans-serif;
    color: white;
    font-weight: 400;
    z-index: 1001;
}

#closeSettings:hover {
    font-weight: 700;
}

.settingsHeader {
    font-size: 30px;
    display: block;
    position: relative;
    margin-bottom: 20px;
}

/* background video list */

#videoList {
    --n: 2;
    
    width: 28vw;
    display: grid;
    /* outline: 1px dashed magenta; */
    grid-template-columns: repeat(auto-fill, minmax(12vw, 1fr));
    gap: 15px;

    max-height: 50vh;
    overflow-y: auto;
}

#videoList img {
    width: 100%;
    height: auto;
    object-fit: cover;

}

.video-item {
    display: flex;
    flex-direction: column;
}


.delete-video {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: transparent;
    color: white;
    z-index: 1002;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
}

.delete-video:hover {
    font-weight: 700;
}

#videoUpload {
    display: none;
}

#upLoad {
    font-weight: 400;
    width: 70px;
    border: 1px dashed magenta;
}

#upLoad:hover {
    font-weight: 700;
}

